<div class="hero min-h-screen bg-base-300">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-extrabold text-yellow-400">いちたす 🐝</h1>
      <p class="py-6 text-base">元気に1つやりきろう！タスクは1日1つだけ！</p>
      <div class="space-x-4">
        <%= link_to "今すぐはじめる", new_user_registration_path, class: "btn btn-warning" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline btn-accent" %>
      </div>
    </div>
  </div>
</div>
